#board {
    width: 500px;
    height: 200px;
    margin-bottom: 10px;
    overflow-y: scroll;
    border: 1px solid #666;
    line-height: 0.4;
    padding: 0px 10px;
}

#message {
    width: 470px;
}

.error {
    color: red;
}

.btn-logout {
    margin-top: 10px;
}