{{define "base"}}<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    {{template "head" .}}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

    <!-- Top bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i></a>
            </div>

            {{if .User}}
                <!-- Right -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form method="POST" action="/logout">
                            <button type="submit" class="btn btn-link logout">Logout ({{.User.Username}})</button>
                        </form>
                    </li>
                </ul>
            {{end}}
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {{template "content" .}}
        </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    {{template "scripts" .}}
</body>
</html>{{end}}