{{define "head"}}
<title>Chat: {{.Room.Name}}</title>
{{end}}

{{define "content"}}
<div class="page col-md-12">

    <h1>Chat: {{.Room.Name}}</h1>

    <div class="row">
        <div id="board"></div>

        <div class="users">
            <select name="users" class="form-control" size="10"></select>
        </div>
    </div>

    <div class="row">
        <form class="form-inline form-message" action="">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon recipient">@</span>
                    <input name="message" type="text" class="form-control" {{if .User.MuteDate}}disabled{{end}}>
                </div>
                <button name="send" class="btn btn-default" {{if .User.MuteDate}}disabled{{end}}>Send</button>
                {{if eq .User.Role "admin"}}
                <button name="mute" class="btn btn-default" title="Mute user" disabled>
                    <i class="glyphicon glyphicon-volume-off"></i>
                </button>
                <button name="kick" class="btn btn-default" title="Kick user" disabled>
                    <i class="glyphicon glyphicon-new-window"></i>
                </button>
                <button name="ban" class="btn btn-default" title="Ban user" disabled>
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </button>
                {{end}}
                <button name="exit" class="btn btn-default" title="Exit">
                    <i class="glyphicon glyphicon-log-out"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
    // Logged in user
    var currentUser = {
        id: {{.User.Id}},
        username: {{.User.Username}},
        fullname: {{.User.Fullname}},
        email: {{.User.Email}},
        role: {{.User.Role}},
        muteDate: {{.User.MuteDate}}
    };
    var currentRoom = {
        id: {{.Room.Id}}
    }
</script>
<script type="text/javascript" src="/static/js/chat.js"></script>
{{end}}
